##  CIA World Factbook
CIA World Factbook is a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like the following:
* population — the global population.
* population_growth — the annual population growth rate, as a percentage.
* area — the total land and water area.

### Goal
Use SQL in Jupyter Notebook to analyze data from this database, factbook.db.

In [1]:
# install ipython-sql
# conda install -yc conda-forge ipython-sql

##### Connect Jupyter to DataBase

In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

##### Overview of the Data

In [3]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

##### First 5 rows of the facts table in the database

In [4]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

##### Column Descriptions:

* name — the name of the country.
* area— the country's total area (both land and water).
* area_land — the country's land area in square kilometers.
* area_water — the country's waterarea in square kilometers.
* population — the country's population.
* population_growth— the country's population growth as a percentage.
* birth_rate — the country's birth rate, or the number of births per year per 1,000 people.
* death_rate — the country's death rate, or the number of death per year per 1,000 people.

##### Summary Statistics

In [5]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) max_pop_growth 
  FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

From above, there is a country with zero population and one with ~7.3 billion people which is obviously problematic. lets look at these countries.

##### Exploring Outliers

In [6]:
%%sql
SELECT name, population
  FROM facts
 WHERE population = (SELECT Min(population)
                       FROM facts) 
    OR population = (SELECT Max(population)
                       FROM facts);

 * sqlite:///factbook.db
Done.

[('Antarctica', 0), ('World', 7256490011)]

In [7]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MIN(population)
                        FROM facts
                     );

 * sqlite:///factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

the table list Antarctica as one of the countries, which explains the population of 0, since there isn't permanent inhabitants/people on the continent, rather permanent and summer-only staffed research station.

In [8]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MAX(population)
                        FROM facts
                     );

 * sqlite:///factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

this now makes sense, since World is listed as a country, meaning that is the population of the world, therefore we have to exclude that further analysis

In [9]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) AS max_pop_growth 
  FROM facts
 WHERE name != 'World';

 * sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

In [10]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MAX(population)
                        FROM facts
                      WHERE name <> 'World'
                     );

 * sqlite:///factbook.db
Done.

[(37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44)]

it now shows us that the country with the max population is China with about 1.4 billion people

#### Exploring Average Population and Area

In [11]:
%%sql
SELECT AVG(population) AS avg_population, AVG(area) AS avg_area
  FROM facts
 WHERE name <> 'World';

 * sqlite:///factbook.db
Done.

[(32242666.56846473, 555093.546184739)]

In [12]:
%%sql
SELECT CAST(ROUND(AVG(population),0) AS INT) 'avg population',
       CAST(ROUND(AVG(area),0) AS INT) 'avg area'
  FROM facts;

 * sqlite:///factbook.db
Done.

[(62094928, 555094)]

From above, we observe an average population of ~62 million with average area of ~555000 km².

#### Densely Populated Countries

In [13]:
%%sql
SELECT *
  FROM facts
 WHERE population > (SELECT AVG(population)
                       FROM facts
                      WHERE name <> 'World'
                    )
   AND area < (SELECT AVG(area)
                 FROM facts
                WHERE name <> 'World'
);

 * sqlite:///factbook.db
Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

the above shows countries with above average values for population with surprisingly below average values for area

##### Population density for the countries identified above

In [14]:
%%sql
SELECT name, population, area, population/area AS pop_density
  FROM facts
 WHERE population > (SELECT AVG(population)
                       FROM facts)
   AND area < (SELECT AVG(area)
                 FROM facts)
 ORDER BY pop_density DESC;

 * sqlite:///factbook.db
Done.

[('Bangladesh', 168957745, 148460, 1138),
 ('Philippines', 100998376, 300000, 336),
 ('Japan', 126919659, 377915, 335),
 ('Vietnam', 94348835, 331210, 284),
 ('United Kingdom', 64088222, 243610, 263),
 ('Germany', 80854408, 357022, 226),
 ('Thailand', 67976405, 513120, 132)]

##### Highest Dense Countries

In [15]:
%%sql
SELECT name, population, area, population/area pop_density 
  FROM facts
  ORDER BY pop_density DESC
  LIMIT 10;

 * sqlite:///factbook.db
Done.

[('Macau', 592731, 28, 21168),
 ('Monaco', 30535, 2, 15267),
 ('Singapore', 5674472, 697, 8141),
 ('Hong Kong', 7141106, 1108, 6445),
 ('Gaza Strip', 1869055, 360, 5191),
 ('Gibraltar', 29258, 6, 4876),
 ('Bahrain', 1346613, 760, 1771),
 ('Maldives', 393253, 298, 1319),
 ('Malta', 413965, 316, 1310),
 ('Bermuda', 70196, 54, 1299)]

Macau is the densest country in the world with over half a million people sharing just 28 sqkm.

#### Countries have the highest population/area ratio

In [16]:
%%sql
SELECT name, SUM(population) / SUM(area) AS ratio
   FROM facts
WHERE name <> 'World' AND name <> 'European Union' 
 GROUP BY name
 ORDER BY population DESC
LIMIT 5

 * sqlite:///factbook.db
Done.

[('China', 142),
 ('India', 380),
 ('United States', 32),
 ('Indonesia', 134),
 ('Brazil', 23)]

#### Country with most people and highest growth rate

In [17]:
%%sql
SELECT name, MAX(population) AS country_with_most_people
     
  FROM facts
 WHERE name <> 'World' AND name <> 'European Union' 
 GROUP BY name
 ORDER BY population DESC
LIMIT 10;

 * sqlite:///factbook.db
Done.

[('China', 1367485388),
 ('India', 1251695584),
 ('United States', 321368864),
 ('Indonesia', 255993674),
 ('Brazil', 204259812),
 ('Pakistan', 199085847),
 ('Nigeria', 181562056),
 ('Bangladesh', 168957745),
 ('Russia', 142423773),
 ('Japan', 126919659)]

#### Countries with Highest Ratios of Water to Land

In [18]:
%%sql
SELECT name, area_water, area_land,
       CAST(SUM(area_water) AS FLOAT) / SUM(area_land) AS ratio
   FROM facts
WHERE name <> 'World' AND name <> 'European Union' 
 GROUP BY name
 ORDER BY area_water DESC
LIMIT 5

 * sqlite:///factbook.db
Done.

[('Canada', 891163, 9093507, 0.09799992456155804),
 ('Russia', 720500, 16377742, 0.04399263341674328),
 ('United States', 664709, 9161966, 0.07255091319919764),
 ('India', 314070, 2973193, 0.10563390940312317),
 ('China', 270550, 9326410, 0.029009018475490568)]

##### Countries with More water than land

In [19]:
%%sql
SELECT name, area_water, area_land
  FROM facts
 WHERE area_water IN (SELECT area_land < area_water
                        FROM facts
                     );

 * sqlite:///factbook.db
Done.

[('Afghanistan', 0, 652230),
 ('Algeria', 0, 2381741),
 ('Andorra', 0, 468),
 ('Angola', 0, 1246700),
 ('Antigua and Barbuda', 0, 442),
 ('Bahrain', 0, 760),
 ('Barbados', 0, 430),
 ('Bhutan', 0, 38394),
 ('Cabo Verde', 0, 4033),
 ('Central African Republic', 0, 622984),
 ('Comoros', 0, 2235),
 ('Dominica', 0, 751),
 ('Equatorial Guinea', 0, 28051),
 ('Fiji', 0, 18274),
 ('Georgia', 0, 69700),
 ('Grenada', 0, 344),
 ('Kiribati', 0, 811),
 ('Kosovo', 0, 10887),
 ('Kuwait', 0, 17818),
 ('Lesotho', 0, 30355),
 ('Libya', 0, 1759540),
 ('Liechtenstein', 0, 160),
 ('Luxembourg', 0, 2586),
 ('Maldives', 0, 298),
 ('Malta', 0, 316),
 ('Marshall Islands', 0, 181),
 ('Mauritania', 0, 1030700),
 ('Micronesia, Federated States of', 0, 702),
 ('Monaco', 0, 2),
 ('Nauru', 0, 21),
 ('Oman', 0, 309500),
 ('Palau', 0, 459),
 ('Qatar', 0, 11586),
 ('Saint Kitts and Nevis', 0, 261),
 ('Saint Vincent and the Grenadines', 0, 389),
 ('San Marino', 0, 61),
 ('Sao Tome and Principe', 0, 964),
 ('Saudi Arabia', 0, 2149690),
 ('Serbia', 0, 77474),
 ('Seychelles', 0, 455),
 ('Timor-Leste', 0, 14874),
 ('Trinidad and Tobago', 0, 5128),
 ('Tuvalu', 0, 26),
 ('United Arab Emirates', 0, 83600),
 ('Vanuatu', 0, 12189),
 ('Holy See (Vatican City)', 0, 0),
 ('Yemen', 0, 527968),
 ('Ashmore and Cartier Islands', 0, 5),
 ('Christmas Island', 0, 135),
 ('Cocos (Keeling) Islands', 0, 14),
 ('Coral Sea Islands', 0, 3),
 ('Heard Island and McDonald Islands', 0, 412),
 ('Norfolk Island', 0, 36),
 ('Macau', 0, 28),
 ('Faroe Islands', 0, 1393),
 ('Clipperton Island', 0, 6),
 ('Saint Pierre and Miquelon', 0, 242),
 ('Wallis and Futuna', 0, 142),
 ('Aruba', 0, 180),
 ('Curacao', 0, 444),
 ('Sint Maarten', 0, 34),
 ('Cook Islands', 0, 236),
 ('Niue', 0, 260),
 ('Tokelau', 0, 12),
 ('Bouvet Island', 0, 49),
 ('Jan Mayen', 0, 377),
 ('Svalbard', 0, 62045),
 ('Anguilla', 0, 91),
 ('Bermuda', 0, 54),
 ('British Virgin Islands', 0, 151),
 ('Cayman Islands', 0, 264),
 ('Falkland Islands (Islas Malvinas)', 0, 12173),
 ('Gibraltar', 0, 6),
 ('Guernsey', 0, 78),
 ('Jersey', 0, 116),
 ('Isle of Man', 0, 572),
 ('Montserrat', 0, 102),
 ('Pitcairn Islands', 0, 47),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0, 122),
 ('South Georgia and South Sandwich Islands', 0, 3903),
 ('Turks and Caicos Islands', 0, 948),
 ('American Samoa', 0, 199),
 ('Guam', 0, 544),
 ('Navassa Island', 0, 5),
 ('Northern Mariana Islands', 0, 464),
 ('Wake Island', 0, 6),
 ('Gaza Strip', 0, 360),
 ('Paracel Islands', 0, 7),
 ('Spratly Islands', 0, 5),
 ('Western Sahara', 0, 266000)]

#### Countries with projected population increase next year

In [20]:
%%sql
SELECT name, MAX(birth_rate) AS highest_birth_rate
  FROM facts
 WHERE name <> 'World' AND name <> 'European Union' 
 GROUP BY name
 ORDER BY birth_rate DESC
LIMIT 5;

 * sqlite:///factbook.db
Done.

[('Niger', 45.45),
 ('Mali', 44.99),
 ('Uganda', 43.79),
 ('Zambia', 42.13),
 ('Burkina Faso', 42.03)]

#### Countries have a higher death rate than birth rate

In [21]:
%%sql
SELECT name, death_rate, death_rate > birth_rate AS highest_death_rate
  FROM facts
 WHERE name <> 'World' AND name <> 'European Union' 
 GROUP BY name
 ORDER BY death_rate DESC
LIMIT 10;

 * sqlite:///factbook.db
Done.

[('Lesotho', 14.89, 0),
 ('Ukraine', 14.46, 1),
 ('Bulgaria', 14.44, 1),
 ('Guinea-Bissau', 14.33, 0),
 ('Latvia', 14.31, 1),
 ('Chad', 14.28, 0),
 ('Lithuania', 14.27, 1),
 ('Namibia', 13.91, 0),
 ('Afghanistan', 13.89, 0),
 ('Central African Republic', 13.8, 0)]

##### Grouping Countries by Population(P) and Area(A)

In [22]:
%%sql
SELECT name,
  CASE 
    WHEN population < 1000000 THEN 'P1: Below 1M'
    WHEN population <= 10000000 THEN 'P2: 1M-10M'
    WHEN population <= 100000000 THEN 'P3: 10M-100M'
    WHEN population > 100000000 THEN 'P4: Above 100M'
  END AS 'population group',
  CASE
    WHEN area < 10000 THEN 'A1: Below 10k'
    WHEN area <= 1000000 THEN 'A2: 10k-1M'
    WHEN area > 1000000 THEN 'A3: Above 1M'
  END AS 'area group',
  population_growth
  FROM facts
  WHERE name != 'World'
    AND name != 'European Union'
 ORDER BY
      CASE 
      WHEN population < 1000000 THEN 'P1: Below 1M'
      WHEN population <= 10000000 THEN 'P2: 1M-10M'
      WHEN population <= 100000000 THEN 'P3: 10M-100M'
      WHEN population > 100000000 THEN 'P4: Above 100M'
      END DESC, 
      CASE
        WHEN area < 10000 THEN 'A1: Below 10k'
        WHEN area <= 1000000 THEN 'A2: 10k-1M'
        WHEN area > 1000000 THEN 'A3: Above 1M'
      END DESC,
      population_growth DESC
    LIMIT 10;

 * sqlite:///factbook.db
Done.

[('India', 'P4: Above 100M', 'A3: Above 1M', 1.22),
 ('Mexico', 'P4: Above 100M', 'A3: Above 1M', 1.18),
 ('Indonesia', 'P4: Above 100M', 'A3: Above 1M', 0.92),
 ('United States', 'P4: Above 100M', 'A3: Above 1M', 0.78),
 ('Brazil', 'P4: Above 100M', 'A3: Above 1M', 0.77),
 ('China', 'P4: Above 100M', 'A3: Above 1M', 0.45),
 ('Russia', 'P4: Above 100M', 'A3: Above 1M', 0.04),
 ('Nigeria', 'P4: Above 100M', 'A2: 10k-1M', 2.45),
 ('Philippines', 'P4: Above 100M', 'A2: 10k-1M', 1.61),
 ('Bangladesh', 'P4: Above 100M', 'A2: 10k-1M', 1.6)]

##### Rank countries for highest projected population increase

In [23]:
%%sql
SELECT name, 
       ROUND(population*population_growth/100,2) 'projected population increase'
  FROM facts
  WHERE name != 'World'
    AND name != 'European Union'
 ORDER BY ROUND(population*population_growth/100,2) DESC
 LIMIT 10;

 * sqlite:///factbook.db
Done.

[('India', 15270686.12),
 ('China', 6153684.25),
 ('Nigeria', 4448270.37),
 ('Pakistan', 2906653.37),
 ('Ethiopia', 2874562.17),
 ('Bangladesh', 2703323.92),
 ('United States', 2506677.14),
 ('Indonesia', 2355141.8),
 ('Congo, Democratic Republic of the', 1944690.83),
 ('Philippines', 1626073.85)]

In [24]:
%%sql
SELECT name, 
       ROUND(population*population_growth/100,2) 'projected population growth'
  FROM facts
  WHERE name != 'World'
    AND name != 'European Union'
 ORDER BY 'projected population growth';

 * sqlite:///factbook.db
Done.

[('Afghanistan', 755492.73),
 ('Albania', 9087.83),
 ('Algeria', 727575.85),
 ('Andorra', 102.7),
 ('Angola', 545584.81),
 ('Antigua and Barbuda', 1146.21),
 ('Argentina', 403916.54),
 ('Armenia', 4584.57),
 ('Australia', 243435.85),
 ('Austria', 47660.53),
 ('Azerbaijan', 93895.49),
 ('Bahamas, The', 2759.07),
 ('Bahrain', 32453.37),
 ('Bangladesh', 2703323.92),
 ('Barbados', 900.87),
 ('Belarus', 19179.38),
 ('Belgium', 86062.19),
 ('Belize', 6495.8),
 ('Benin', 290472.39),
 ('Bhutan', 8235.3),
 ('Bolivia', 168493.76),
 ('Bosnia and Herzegovina', 5027.17),
 ('Botswana', 26410.9),
 ('Brazil', 1572800.55),
 ('Brunei', 6960.27),
 ('Bulgaria', 41683.98),
 ('Burkina Faso', 573630.09),
 ('Burma', 568834.08),
 ('Burundi', 352346.65),
 ('Cambodia', 248198.34),
 ('Cameroon', 614845.75),
 ('Canada', 263248.77),
 ('Cabo Verde', 7425.5),
 ('Central African Republic', 114839.78),
 ('Chad', 219834.52),
 ('Chile', 143567.73),
 ('China', 6153684.25),
 ('Colombia', 486061.97),
 ('Comoros', 13823.19),
 ('Congo, Democratic Republic of the', 1944690.83),
 ('Congo, Republic of the', 95101.94),
 ('Costa Rica', 58732.56),
 ("Cote d'Ivoire", 444940.27),
 ('Croatia', 5804.3),
 ('Cuba', 16547.15),
 ('Cyprus', 17005.52),
 ('Czech Republic', 17031.75),
 ('Denmark', 12279.31),
 ('Djibouti', 18223.13),
 ('Dominica', 154.57),
 ('Dominican Republic', 128888.7),
 ('Ecuador', 214223.35),
 ('Egypt', 1583924.39),
 ('El Salvador', 15353.38),
 ('Equatorial Guinea', 18592.65),
 ('Eritrea', 146873.0),
 ('Estonia', 6959.81),
 ('Ethiopia', 2874562.17),
 ('Fiji', 6092.91),
 ('Finland', 21907.69),
 ('France', 286181.19),
 ('Gabon', 32912.98),
 ('Gambia, The', 42502.51),
 ('Georgia', 3944.98),
 ('Germany', 137452.49),
 ('Ghana', 573942.75),
 ('Greece', 1077.56),
 ('Grenada', 531.33),
 ('Guatemala', 271525.78),
 ('Guinea', 309818.26),
 ('Guinea-Bissau', 32969.85),
 ('Guyana', 147.04),
 ('Haiti', 118287.22),
 ('Honduras', 146944.11),
 ('Hungary', 21774.59),
 ('Iceland', 4016.21),
 ('India', 15270686.12),
 ('Indonesia', 2355141.8),
 ('Iran', 981891.24),
 ('Iraq', 1085745.75),
 ('Ireland', 61153.81),
 ('Israel', 125569.3),
 ('Italy', 167008.82),
 ('Jamaica', 20061.43),
 ('Japan', 203071.45),
 ('Jordan', 67375.78),
 ('Kazakhstan', 206991.19),
 ('Kenya', 886358.31),
 ('Kiribati', 1215.68),
 ('Korea, North', 132410.99),
 ('Korea, South', 68761.27),
 ('Kosovo', None),
 ('Kuwait', 45174.25),
 ('Kyrgyzstan', 62880.82),
 ('Laos', 107128.93),
 ('Latvia', 21059.07),
 ('Lebanon', 53188.43),
 ('Lesotho', 6232.64),
 ('Liberia', 103632.95),
 ('Libya', 142982.6),
 ('Liechtenstein', 316.04),
 ('Lithuania', 29998.1),
 ('Luxembourg', 12146.37),
 ('Macedonia', 4192.03),
 ('Madagascar', 614367.17),
 ('Malawi', 596427.94),
 ('Malaysia', 439399.41),
 ('Maldives', 314.6),
 ('Mali', 505274.97),
 ('Malta', 1283.29),
 ('Marshall Islands', 1198.37),
 ('Mauritania', 80206.45),
 ('Mauritius', 8574.89),
 ('Mexico', 1436494.35),
 ('Micronesia, Federated States of', 483.99),
 ('Moldova', 36532.52),
 ('Monaco', 36.64),
 ('Mongolia', 39207.09),
 ('Montenegro', 2717.71),
 ('Morocco', 333226.99),
 ('Mozambique', 619926.27),
 ('Namibia', 13052.61),
 ('Nauru', 52.47),
 ('Nepal', 564768.36),
 ('Netherlands', 69486.41),
 ('New Zealand', 36394.82),
 ('Nicaragua', 59078.81),
 ('Niger', 586486.19),
 ('Nigeria', 4448270.37),
 ('Norway', 58846.89),
 ('Oman', 68039.58),
 ('Pakistan', 2906653.37),
 ('Palau', 80.81),
 ('Panama', 48272.72),
 ('Papua New Guinea', 118769.24),
 ('Paraguay', 78685.96),
 ('Peru', 295316.49),
 ('Philippines', 1626073.85),
 ('Poland', 34705.97),
 ('Portugal', 9742.78),
 ('Qatar', 67380.88),
 ('Romania', 64999.05),
 ('Russia', 56969.51),
 ('Rwanda', 324140.36),
 ('Saint Kitts and Nevis', 394.71),
 ('Saint Lucia', 557.33),
 ('Saint Vincent and the Grenadines', 287.36),
 ('Samoa', 1147.08),
 ('San Marino', 270.76),
 ('Sao Tome and Principe', 3569.71),
 ('Saudi Arabia', 405183.81),
 ('Senegal', 342407.93),
 ('Serbia', 33013.25),
 ('Seychelles', 767.17),
 ('Sierra Leone', 138158.8),
 ('Singapore', 107247.52),
 ('Slovakia', 1089.01),
 ('Slovenia', 5156.87),
 ('Solomon Islands', 12573.87),
 ('Somalia', 194279.75),
 ('South Africa', 713884.99),
 ('South Sudan', 484124.98),
 ('Spain', 428500.59),
 ('Sri Lanka', 185249.3),
 ('Sudan', 621072.27),
 ('Suriname', 6260.04),
 ('Swaziland', 15935.3),
 ('Sweden', 78412.93),
 ('Switzerland', 57664.99),
 ('Syria', 27303.77),
 ('Tajikistan', 140082.48),
 ('Tanzania', 1424180.11),
 ('Thailand', 231119.78),
 ('Timor-Leste', 29793.01),
 ('Togo', 203157.35),
 ('Tonga', 31.95),
 ('Trinidad and Tobago', 1589.07),
 ('Tunisia', 98231.3),
 ('Turkey', 1000619.79),
 ('Turkmenistan', 59638.21),
 ('Tuvalu', 89.13),
 ('Uganda', 1202096.54),
 ('Ukraine', 266576.83),
 ('United Arab Emirates', 149117.81),
 ('United Kingdom', 346076.4),
 ('United States', 2506677.14),
 ('Uruguay', 9023.11),
 ('Uzbekistan', 271559.46),
 ('Vanuatu', 5309.15),
 ('Holy See (Vatican City)', 0.0),
 ('Venezuela', 406928.89),
 ('Vietnam', 915183.7),
 ('Yemen', 660411.73),
 ('Zambia', 433908.46),
 ('Zimbabwe', 314472.86),
 ('Taiwan', 53854.79),
 ('Ashmore and Cartier Islands', None),
 ('Christmas Island', 16.98),
 ('Cocos (Keeling) Islands', 0.0),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Norfolk Island', 0.22),
 ('Hong Kong', 27136.2),
 ('Macau', 4741.85),
 ('Faroe Islands', 256.0),
 ('Greenland', 0.0),
 ('Clipperton Island', None),
 ('French Polynesia', 2657.41),
 ('French Southern and Antarctic Lands', None),
 ('New Caledonia', 3748.29),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Saint Pierre and Miquelon', 61.1),
 ('Wallis and Futuna', 51.52),
 ('Aruba', 1491.75),
 ('Curacao', 638.15),
 ('Sint Maarten', 599.3),
 ('Cook Islands', 290.22),
 ('Niue', 0.36),
 ('Tokelau', 0.13),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Svalbard', 0.56),
 ('Akrotiri', None),
 ('Anguilla', 333.29),
 ('Bermuda', 350.98),
 ('British Indian Ocean Territory', None),
 ('British Virgin Islands', 776.13),
 ('Cayman Islands', 1177.93),
 ('Dhekelia', None),
 ('Falkland Islands (Islas Malvinas)', 0.34),
 ('Gibraltar', 70.22),
 ('Guernsey', 224.67),
 ('Jersey', 778.35),
 ('Isle of Man', 665.34),
 ('Montserrat', 26.21),
 ('Pitcairn Islands', 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 18.71),
 ('South Georgia and South Sandwich Islands', None),
 ('Turks and Caicos Islands', 1156.44),
 ('American Samoa', 163.03),
 ('Guam', 873.64),
 ('Navassa Island', None),
 ('Northern Mariana Islands', 1141.1),
 ('Puerto Rico', 21590.14),
 ('Virgin Islands', 611.09),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Gaza Strip', 52520.45),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('West Bank', 54314.64),
 ('Western Sahara', 16098.42),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None)]